{% load static %}
{% load brew_tags %}

{% block content %}
<div class="modal-footer pb-0">
  <div>
    <div class="float-right">
      <a target="_blank" href={% url 'brewery:recipe-print' recipe.pk %}>
        <button class="btn btn-primary" type="button">
          <span class="fa fa-print"></span>
        </button>
      </a>
      <a target="_blank" href={% url 'brewery:recipe-update' recipe.pk %}>
        <button class="btn btn-primary" type="button">
          <span class="fa fa-pen"></span>
        </button>
      </a>
      <button type="button" class="btn btn-dark" data-dismiss="modal">
        <span class="fa fa-window-close"></span>
      </button>
    </div>
  </div>
</div>
<div class="modal-header pt-0">
    <div class="float-left">
      <h2 class="modal-title">{{recipe.name}}</h2>
    </div>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-sm-6">
      <h5>Info</h5>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>Gravity</th>
            <td>{{recipe.get_gravity|get_obj_attr:gravity_units.0|floatformat}} {{gravity_units.1}}</td>
          <tr>
          <tr>
            <th>IBU</th>
            <td>{{recipe.get_ibu|floatformat}}</td>
          <tr>
          <tr>
            <th>ABV</th>
            <td>{{recipe.get_abv|floatformat}}%</td>
          <tr>
          <tr>
            <th>Color</th>
            <td>{{recipe.get_color|get_obj_attr:color_units.0|floatformat}} {{color_units.1}}</td>
          <tr>
          <tr>
            <th>Type</th>
            <td>{{recipe.type}}</td>
          <tr>
          <tr>
            <th>Style</th>
            <td>{{recipe.style.name}}</td>
          <tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <h5>Batch</h5>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>Expected Volume</th>
            <td>{{recipe.expected_beer_volume|get_obj_attr:volume.0|floatformat}} {{volume.1}}</td>
          <tr>
          <tr>
            <th>Boil Time</th>
            <td>{{recipe.boil_time}} Min</td>
          <tr>
          <tr>
            <th>Evaporation rate</th>
            <td>{{recipe.evaporation_rate|floatformat}}%</td>
          <tr>
          <tr>
            <th>Boil Volume</th>
            <td>{{recipe.get_boil_volume|get_obj_attr:volume.0|floatformat}} {{volume.1}}</td>
          <tr>
          <tr>
            <th>Boil Loss</th>
            <td>{{recipe.boil_loss|floatformat}}%</td>
          <tr>
          <tr>
            <th>Trub Loss</th>
            <td>{{recipe.trub_loss|floatformat}}%</td>
          <tr>
          <tr>
            <th>Dry Hopping Loss</th>
            <td>{{recipe.dry_hopping_loss|floatformat}}%</td>
          <tr>
        </tbody>
      </table>
      <h5>Mashing</h5>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>Mash Efficiency</th>
            <td>{{recipe.mash_efficiency|floatformat}}%</td>
          <tr>
          <tr>
            <th>Liquor-to-Grist Ratio</th>
            <td>{{recipe.liquor_to_grist_ratio|floatformat}} {{volume.1}}/{{big_weight.1}}</td>
          <tr>
        </tbody>
      </table>
      <h5>Steps</h5>
      <table class="table table-sm">
        <tbody>
          {% for step in recipe.mash_steps.all %}
            <tr>
              <th>{{step.temperature|get_obj_attr:temp_units.0|floatformat}} {{temp_units.1}}</th>
              <td>{{step.time|floatformat}} Min</td>
            <tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="ingredients">
    <h5>Fermentables</h5>
    <table class="table table-sm">
        <thead>
            <tr>
                <th class="text-left" scope="col">Name</th>
                <th class="text-left" scope="col">Type</th>
                <th class="text-left" scope="col">Use</th>
                <th class="text-left" scope="col">Color</th>
                <th class="text-left" scope="col">Extraction</th>
                <th class="text-left" scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for fermentable in recipe.fermentables.all %}
                <tr class="">
                    <td class="text-left">{{ fermentable.name }}</td>
                    <td class="text-left">{{ fermentable.type|title }}</td>
                    <td class="text-left">{{ fermentable.use|title|default:"---" }}</td>
                    <td class="text-left">{{ fermentable.color|get_obj_attr:color_units.0|floatformat }} {{color_units.1}}</td>
                    <td class="text-left">{{ fermentable.extraction }}%</td>
                    <td class="text-left">{{ fermentable.amount|get_obj_attr:big_weight.0|floatformat }} {{big_weight.1}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="ingredients">
    <h5>Hops</h5>
    <table class="table table-sm">
        <thead>
            <tr >
                <th class="text-left" scope="col">Name</th>
                <th class="text-left" scope="col">Use</th>
                <th class="text-left" scope="col">Alpha Acids</th>
                <th class="text-left" scope="col">Amount</th>
                <th class="text-left" scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for hop in recipe.hops.all %}
                <tr>
                    <td class="text-left">{{ hop.name }}</td>
                    <td class="text-left">{{ hop.use|title }}</td>
                    <td class="text-left">{{ hop.alpha_acids }}%</td>
                    <td class="text-left">{{ hop.amount|get_obj_attr:small_weight.0 }} {{small_weight.1}}</td>
                    <td class="text-left">{{ hop.time|floatformat }} {{hop.time_unit|lower}}(s)</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="ingredients">
     <h5>Yeasts</h5>
    <table class="table table-sm">
        <thead>
            <tr >
                <th class="text-left" scope="col">Name</th>
                <th class="text-left" scope="col">Lab</th>
                <th class="text-left" scope="col">Type</th>
                <th class="text-left" scope="col">Attenuation</th>
                <th class="text-left" scope="col">Form</th>
                <th class="text-left" scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for yeast in recipe.yeasts.all %}
                <tr>
                    <td class="text-left">{{ yeast.name }}</td>
                    <td class="text-left">{{ yeast.lab }}</td>
                    <td class="text-left">{{ yeast.type|title }}</td>
                    <td class="text-left">{{ yeast.attenuation|floatformat }}%</td>
                    <td class="text-left">{{ yeast.form|title }}</td>
                    <td class="text-left">{{ yeast.amount|get_obj_attr:small_weight.0|floatformat }} {{small_weight.1}}</td>
                </tr>
            {% endfor %}
    </table>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
</div>
{% endblock content %}