{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

<table class="table">
{{ formset.management_form|crispy }}
    <thead>
        <tr >
            <th class="text-center" scope="col">{% trans "Temperature" %}</th>
            <th class="text-center" scope="col">{% trans "Time" %}</th>
            <th class="text-center" scope="col">{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for form in formset.forms %}
            {{ form.media }}
            <tr class="{% cycle 'row1' 'row2' 'row3' 'row4' 'row5' %} formset_row-{{ formset.prefix }}">
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <td>
                    {{ field.name.errors.as_ul }}
                    {{ form.temperature|as_crispy_field }}
                </td>
                <td>{{ field.type.errors.as_ul }}{{ form.time|as_crispy_field }}</td>
                <td class="delet-row">{{ form.DELETE }}</td>
            </tr>
        {% endfor %}
</table>

<br>
<script src="{% static "js/jquery.formset.js" %}"></script>
<script type="text/javascript">
$(function() {
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: '<button type="button" class="add-mash_step btn btn-sm btn-warning"><span class="fa fa-plus"></span> Add Mash Step</button>',
        deleteText: '<button type="button" class="delete-mash_step btn btn-sm btn-danger"><span class="fa fa-trash"></span></button>',
        prefix: '{{ formset.prefix }}',
        {% if formset.request.method == "GET" %} hideLastAddForm: true, {% endif %} 
        addCssClass: '{{ formset.prefix }}-add-row',          // CSS class applied to the add link
        deleteCssClass: '{{ formset.prefix }}-delete-row',    // CSS class applied to the delete link
        formCssClass: '{{ formset.prefix }}-dynamic-form', 
    });
});
</script>