{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load brew_tags %}

{% block title %}{{ batch.name }}{% endblock %}

{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog mt-5 modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>
{% if batch %}
  <div class="row mb-5">
        <!-- Breadcrumbs-->
        <ol id="breadcrumb">
            <li id="step-{{stages.1|lower}}"><a href="#">1. Mashing</a></li>
            <li id="step-{{stages.2|lower}}" class=""><a href="#">2. Boiling</a></li>
            <li id="step-{{stages.3|lower}}" class=""><a href="#">3. Primary</a></li>
            <li id="step-{{stages.4|lower}}" class=""><a href="#">4. Secondary</a></li>
            <li id="step-{{stages.5|lower}}"><a href="#">5. Packaging</a></li>
        </ol>
  </div>
{% endif %}

{% if batch %}
  <div class="row mb-5 pl-4">

    <h2>
      <button type="button" class="mr-1 bs-modal read-recipe btn btn-sm btn-default btn-dark" data-form-url="{% url 'brewery:recipe-detail' batch.recipe.pk %}">
        <span class="fa fa-eye"></span>
    </button>
    Batch "{{batch.name}}" no. {{batch.batch_number}} based on "{{batch.recipe.name}}" recipe
  </h2>
  </div>
{% endif %}

  {% if batch.stage == "INIT" or batch is None %}
  <form class="form-horizontal" method="post" action="{% url 'brewery:batch-create' %}">
  {% else %}

  <form class="form-horizontal" method="post" action="{% url 'brewery:batch-update' batch.pk %}">
  {% endif %}
    {% csrf_token %}
    {% crispy form %}
  </form>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function() {

  $(".bs-modal").each(function () {
      $(this).modalForm({formURL: $(this).data("form-url")});
  });
  $( function() {
    $("#id_brewing_day" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
    $("#id_primary_fermentation_start_day" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
    $("#id_secondary_fermentation_start_day" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
    $("#id_packaging_date" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
    $("#id_dry_hops_start_day" ).datepicker({
      dateFormat: "yy-mm-dd"
    });

  });
  {% if batch %}
    {% for stage in stages %}
      {% if stage == batch.stage %}
        $("#step-{{stage|lower}}").find("a").addClass("active");
      {% elif forloop.counter <= stage_index %}
        $("#step-{{stage|lower}}").find("a").addClass("done");
      {% else %}
        $("#step-{{stage|lower}}").find("a").addClass("notdone");
      {% endif %}
    {% endfor %}
  {% endif %}

  function toggle_refermentation() {
    if ($("#id_carbonation_type").find(":selected").text() == "Refermentation") {
      $(".refermentation-fields").slideDown();
      $("#id_sugar_type").prop('required', true);
      $("#id_priming_temperature_0").prop('required', true);
    }
    else {
      $(".refermentation-fields").slideUp();
      $("#id_sugar_type").prop('required', false);
      $("#id_priming_temperature_0").prop('required', false);
    }
  }
  function check_priming_params() {
    if ($("#id_carbonation_type").find(":selected").text() == "Refermentation") {
      $.ajax({
        type: "POST",
        headers: { "X-CSRFToken": "{{ csrf_token }}" }, 
        url: '/api/brewery/calc/priming/',
        data: {
          "priming_temperature": $("#id_priming_temperature_0").val() + " {{temp_units.0}}",
          "beer_volume": $("#id_beer_volume_0").val() + " {{volume.0}}",
          "carbonation_level": $("#id_carbonation_level").val(),
          "sugar_type": $("#id_sugar_type").find(":selected").val(),
          "original_gravity": "{{ batch.initial_gravity|get_obj_attr:gravity_units.0|floatformat }} {{gravity_units.0}}"
        },
        dataType: 'json',
        success: function (data) {
          $("#priming_sugar_info_span").text(parseFloat(data["sugar_amount"].split(" ")[0]).toFixed(1));
          $("#priming_water_info_span").text(parseFloat(data["water_volume"].split(" ")[0]).toFixed(3));
        },
        error: function (data) {
          $("#priming_sugar_info_span").text("---");
          $("#priming_water_info_span").text("---");
        }
      });
    }
  }
  $("#id_carbonation_type").change(function(){
    toggle_refermentation();
  });
  $("#id_carbonation_type,#id_sugar_type,#id_priming_temperature_0,#id_carbonation_level,#id_beer_volume_0").change(function(){
    check_priming_params();
  });
  toggle_refermentation();
  check_priming_params();
});
</script>
{% endblock %}
