{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load brew_tags %}

{% block title %}{{ batch.name }}{% endblock %}

{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog mt-5 modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>
{% if batch %}
  <div class="row mb-5">
        <!-- Breadcrumbs-->
        <ol id="breadcrumb">
            <li id="step-{{stages.1|lower}}"><a href="#">1. Mashing</a></li>
            <li id="step-{{stages.2|lower}}" class=""><a href="#">2. Boiling</a></li>
            <li id="step-{{stages.3|lower}}" class=""><a href="#">3. Primary</a></li>
            <li id="step-{{stages.4|lower}}" class=""><a href="#">4. Secondary</a></li>
            <li id="step-{{stages.5|lower}}"><a href="#">5. Packaging</a></li>
        </ol>
  </div>
{% endif %}

{% if batch %}
  <div class="row mb-5 pl-4">

    <h2>
      <button type="button" class="mr-1 bs-modal read-recipe btn btn-sm btn-default btn-dark" data-form-url="{% url 'brewery:recipe-detail' batch.recipe.pk %}">
        <span class="fa fa-eye"></span>
    </button>
    Batch "{{batch.name}}" no. {{batch.batch_number}} based on "{{batch.recipe.name}}" recipe
  </h2>
  </div>
{% endif %}

  {% if batch.stage == "INIT" or batch is None %}
  <form class="form-horizontal" method="post" action="{% url 'brewery:batch-create' %}">
  {% else %}

  <form class="form-horizontal" method="post" action="{% url 'brewery:batch-update' batch.pk %}">
  {% endif %}
    {% csrf_token %}
    {% crispy form %}
  </form>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function() {

  $(".bs-modal").each(function () {
      $(this).modalForm({formURL: $(this).data("form-url")});
  });
  $( function() {
    $("#id_brewing_day" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
    $("#id_primary_fermentation_start_day" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
    $("#id_secondary_fermentation_start_day" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
    $("#id_packaging_date" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
    $("#id_dry_hops_start_day" ).datepicker({
      dateFormat: "yy-mm-dd"
    });

  });
  {% if batch %}
    {% for stage in stages %}
      {% if stage == batch.stage %}
        $("#step-{{stage|lower}}").find("a").addClass("active");
      {% elif forloop.counter <= stage_index %}
        $("#step-{{stage|lower}}").find("a").addClass("done");
      {% else %}
        $("#step-{{stage|lower}}").find("a").addClass("notdone");
      {% endif %}
    {% endfor %}
  {% endif %}
});
</script>
{% endblock %}
