{% load static %}
{% load brew_tags %}
{% load i18n %}

{% block content %}
<div class="modal-footer pb-0">
  <div>
    <div class="float-right">
      {% comment %} <a target="_blank" href={% url 'brewery:batch-print' batch.pk %}>
        <button class="btn btn-primary" type="button">
          <span class="fa fa-print"></span>
        </button>
      </a> {% endcomment %}
      <a target="_blank" href={% url 'brewery:batch-update' batch.pk %}>
        <button class="btn btn-primary" type="button">
          <span class="fa fa-pen"></span>
        </button>
      </a>
      <button type="button" class="btn btn-dark" data-dismiss="modal">
        <span class="fa fa-window-close"></span>
      </button>
    </div>
  </div>
</div>
<div class="modal-header pt-0">
    <div class="float-left">
      <h2 class="modal-title">{{batch.name}}</h2>
    </div>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-sm-7">
      <h5>{% trans "Info" %}</h5>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>{% trans "Status"%} </th>
            <td>{{batch.stage}}</td>
          </tr>
          <tr>
            <th>{% trans "Brewing Date"%} </th>
            <td>{{batch.brewing_day|default:"---"}} {% if batch.brewing_day %}({{batch.brewing_day|timesince}}){% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Fermentation Date"%} </th>
            <td>{{batch.primary_fermentation_start_day|default:"---"}} {% if batch.primary_fermentation_start_day %}({{batch.primary_fermentation_start_day|timesince}}){% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Secondary Date"%} </th>
            <td>{{batch.secondary_fermentation_start_day|default:"---"}} {% if batch.secondary_fermentation_start_day %}({{batch.secondary_fermentation_start_day|timesince}}){% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Dry Hops Date"%} </th>
            <td>{{batch.dry_hops_start_day|default:"---"}} {% if batch.dry_hops_start_day %}({{batch.dry_hops_start_day|timesince}}){% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Packaging Date"%} </th>
            <td>{{batch.packaging_date|default:"---"}} {% if batch.packaging_date %}({{batch.packaging_date|timesince}}){% endif %}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <h5>{% trans "Mash and Boil" %}</h5>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>{% trans "Actual Mash Efficiency"%} </th>
            <td>{% if batch.get_actuall_mash_efficiency %}{{ batch.get_actuall_mash_efficiency|floatformat }} %{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Gravity Before Boil"%} </th>
            <td>{% if batch.gravity_before_boil %}{{ batch.gravity_before_boil|get_obj_attr:gravity_units.0|floatformat}} {{gravity_units.1}}{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Original gravity"%} </th>
            <td>{% if batch.initial_gravity %}{{ batch.initial_gravity|get_obj_attr:gravity_units.0|floatformat}} {{gravity_units.1}}{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Batch IBU"%} </th>
            <td>{% if batch.get_ibu %}{{ batch.get_ibu|floatformat }}{% else %}---{% endif %}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <h5>{% trans "Fermentation" %}</h5>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>{% trans "Wort Volume"%} </th>
            <td>{% if batch.wort_volume %}{{ batch.wort_volume|get_obj_attr:volume.0|floatformat}} {{volume.1}}{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Boil loss"%} </th>
            <td>{% if batch.boil_loss %}{{ batch.boil_loss|get_obj_attr:volume.0|floatformat}} {{volume.1}}{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Post-primary gravity"%} </th>
            <td>{% if batch.post_primary_gravity %}{{ batch.post_primary_gravity|get_obj_attr:gravity_units.0|floatformat}} {{gravity_units.1}}{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Final gravity"%} </th>
            <td>{% if batch.end_gravity %}{{ batch.end_gravity|get_obj_attr:gravity_units.0|floatformat}} {{gravity_units.1}}{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "ABV"%} </th>
            <td>{% if batch.get_abv %}{{ batch.get_abv|floatformat }} %{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Attenuation"%} </th>
            <td>{% if batch.get_attenuation %}{{ batch.get_attenuation|floatformat }} %{% else %}---{% endif %}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {% if batch.fermentation_checks.all.count > 0 %}
      <h8>{% trans "Fermentation Checks" %}</h8>
      <table class="table table-sm mt-2">
          <thead>
              <tr >
                  <th class="text-left" scope="col">{% trans "Sample Day" %}</th>
                  <th class="text-left" scope="col">{% trans "Gravity" %}</th>
                  <th class="text-left" scope="col">{% trans "Beer Temperature" %}</th>
                  <th class="text-left" scope="col">{% trans "Ambient Temperature" %}</th>
                  <th class="text-left" scope="col">{% trans "Comment" %}</th>
              </tr>
          </thead>
          <tbody>
              {% for check in batch.fermentation_checks.all|dictsort:"sample_day" %}
                  <tr>
                      <td class="text-left">{{ check.sample_day }} ({{check.sample_day|timesince}})</td>
                      <td class="text-left">{{ check.gravity|get_obj_attr:gravity_units.0|floatformat}} {{gravity_units.1}}</td>
                      <td class="text-left">{% if check.beer_temperature %}{{ check.beer_temperature|get_obj_attr:temp_units.0|floatformat}}{% else %}---{% endif %} {% if check.beer_temperature %}{{temp_units.1}}{% endif %}</td>
                      <td class="text-left">{% if check.ambient_temperature %}{{ check.ambient_temperature|get_obj_attr:temp_units.0|floatformat}}{% else %}---{% endif %} {% if check.ambient_temperature %}{{temp_units.1}}{% endif %}</td>
                      <td class="text-left">{% if check.comment %}{{ check.comment }}{% else %}---{% endif %}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <h5>{% trans "Packaging" %}</h5>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>{% trans "Beer Volume"%} </th>
            <td>{% if batch.beer_volume %}{{ batch.beer_volume|get_obj_attr:volume.0|floatformat}} {{volume.1}}{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Calories per 500ml"%} </th>
            <td>{% if batch.get_calories %}{{ batch.get_calories|floatformat }} kcal{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Carbonation Type"%} </th>
            <td>{% if batch.carbonation_type %}{{ batch.carbonation_type }}{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Volumes of CO2"%} </th>
            <td>{% if batch.carbonation_level %}{{ batch.carbonation_level|floatformat }}{% else %}---{% endif %}</td>
          </tr>
          {% comment %} <tr>
            <th>{% trans "Priming Sugar"%} </th>
            <td>{% if batch. %}{{ batch.|floatformat }} %{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Priming Sugar Amount"%} </th>
            <td>{% if batch. %}{{ batch.|floatformat }} %{% else %}---{% endif %}</td>
          </tr>
          <tr>
            <th>{% trans "Priming Beer Temperature"%} </th>
            <td>{% if batch. %}{{ batch.|floatformat }} %{% else %}---{% endif %}</td>
          </tr> {% endcomment %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}


