{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Fermentable Details #{{fermentable.id}}</h5>
    </div>
    <div class="card-body">
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">{{ fermentable.name }}</dd>
        <dt class="col-sm-3">Type</dt>
        <dd class="col-sm-9">{{ fermentable.type }}</dd>
        <dt class="col-sm-3">Color</dt>
        <dd class="col-sm-9">{{ fermentable.color }}</dd>
        <dt class="col-sm-3">Extraction</dt>
        <dd class="col-sm-9">{{ fermentable.extraction }}</dd>
        <dt class="col-sm-3">Country</dt>
        <dd class="col-sm-9">{{ fermentable.country }}</dd>
        <dt class="col-sm-3">Max Use</dt>
        <dd class="col-sm-9">{{ fermentable.max_use }}</dd>
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">{{ fermentable.description }}</dd>
        <dt class="col-sm-3">External Link</dt>
        <dd class="col-sm-9">{{ fermentable.external_link }}</dd>
        <dt class="col-sm-3">Comment</dt>
        <dd class="col-sm-9">{{ fermentable.comment }}</dd>
        <dt class="col-sm-3">Active</dt>
        <dd class="col-sm-9">{{ fermentable.active }}</dd>
    </dl>

    </div>
</div>
{% endblock content %}