{% load static %}
{% load brew_tags %}

{% block content %}
<div class="modal-header">
  <h3 class="modal-title">{{recipe.name}}</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-sm-6">
      <h5>Info</h5>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>Gravity [{{user.profile.gravity_units}}]</th>
            <td>{{recipe.get_gravity|get_obj_attr:user.profile.gravity_units|floatformat}}</td>
          <tr>
          <tr>
            <th>IBU</th>
            <td>{{recipe.get_ibu|floatformat}}</td>
          <tr>
          <tr>
            <th>ABV</th>
            <td>{{recipe.get_abv|floatformat}}%</td>
          <tr>
          <tr>
            <th>Color [{{user.profile.color_units}}]</th>
            <td>{{recipe.get_color|get_obj_attr:user.profile.color_units|floatformat}}</td>
          <tr>
          <tr>
            <th>Type</th>
            <td>{{recipe.type}}</td>
          <tr>
          <tr>
            <th>Style</th>
            <td>{{recipe.style.name}}</td>
          <tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <h5>Batch</h5>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>Expected Volume</th>
            <td>{{recipe.expected_beer_volume}}</td>
          <tr>
          <tr>
            <th>Boil Time</th>
            <td>{{recipe.boil_time}} Min</td>
          <tr>
          <tr>
            <th>Evaporation rate</th>
            <td>{{recipe.evaporation_rate|floatformat}}%</td>
          <tr>
          <tr>
            <th>Boil Volume</th>
            <td>{{recipe.get_boil_volume}}</td>
          <tr>
          <tr>
            <th>Boil Loss</th>
            <td>{{recipe.boil_loss|floatformat}}%</td>
          <tr>
          <tr>
            <th>Trub Loss</th>
            <td>{{recipe.trub_loss|floatformat}}%</td>
          <tr>
          <tr>
            <th>Dry Hopping Loss</th>
            <td>{{recipe.dry_hopping_loss|floatformat}}%</td>
          <tr>
        </tbody>
      </table>
      <h5>Mashing</h5>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>Mash Efficiency</th>
            <td>{{recipe.mash_efficiency|floatformat}}</td>
          <tr>
          <tr>
            <th>Liquor-to-Grist Ratio</th>
            <td>{{recipe.liquor_to_grist_ratio|floatformat}}</td>
          <tr>
        </tbody>
      </table>
      <h5>Steps</h5>
      <table class="table table-sm">
        <tbody>
          {% for step in recipe.mash_steps.all %}
            <tr>
              <th>{{step.temperature|get_obj_attr:'c'|floatformat}} C</th>
              {# <th>{{step.temperature|get_obj_attr:user.profile.temperature_units|floatformat}}</th> #}
              <td>{{step.time|floatformat}} Min</td>
            <tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="ingredients">
    <h5>Fermentables</h5>
    <table class="table table-sm">
        <thead>
            <tr>
                <th class="text-center" scope="col">Name</th>
                <th class="text-center" scope="col">Type</th>
                <th class="text-center" scope="col">Use</th>
                <th class="text-center" scope="col">Color</th>
                <th class="text-center" scope="col">Extraction</th>
                <th class="text-center" scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for fermentable in recipe.fermentables.all %}
                <tr class="">
                    <td class="text-center">{{ fermentable.name }}</td>
                    <td class="text-center">{{ fermentable.type|title }}</td>
                    <td class="text-center">{{ fermentable.use|title }}</td>
                    <td class="text-center">{{ fermentable.color }}</td>
                    <td class="text-center">{{ fermentable.extraction }}</td>
                    <td class="text-center">{{ fermentable.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="ingredients">
    <h5>Hops</h5>
    <table class="table table-sm">
        <thead>
            <tr >
                <th class="text-center" scope="col">Name</th>
                <th class="text-center" scope="col">Use</th>
                <th class="text-center" scope="col">Alpha Acids</th>
                <th class="text-center" scope="col">Amount</th>
                <th class="text-center" scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for hop in recipe.hops.all %}
                <tr>
                    <td class="text-center">{{ hop.name }}</td>
                    <td class="text-center">{{ hop.use|title }}</td>
                    <td class="text-center">{{ hop.alpha_acids }}%</td>
                    <td class="text-center">{{ hop.amount }}</td>
                    <td class="text-center">{{ hop.time }} {{ hop.time_unit|title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="ingredients">
     <h5>Yeasts</h5>
    <table class="table table-sm">
        <thead>
            <tr >
                <th class="text-center" scope="col">Name</th>
                <th class="text-center" scope="col">Lab</th>
                <th class="text-center" scope="col">Type</th>
                <th class="text-center" scope="col">Attenuation</th>
                <th class="text-center" scope="col">Form</th>
                <th class="text-center" scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for yeast in recipe.yeasts.all %}
                <tr>
                    <td class="text-center">{{ yeast.name }}</td>
                    <td class="text-center">{{ yeast.lab }}</td>
                    <td class="text-center">{{ yeast.type|title }}</td>
                    <td class="text-center">{{ yeast.attenuation }}</td>
                    <td class="text-center">{{ yeast.form|title }}</td>
                    <td class="text-center">{{ yeast.amount }}</td>
                </tr>
            {% endfor %}
    </table>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
{% endblock content %}