{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<div style="padding:20px">
    <h3>{{title}}</h3>
</div>
<form method="post" action="">
  {% csrf_token %}
      {% crispy form %}
</form>
</div>
<script>
$(document).ready(function() {
  $("form").on("change", function () {
    let arrayform = $("form").serializeArray();
    console.log(arrayform)
    input_data = {
        "fermentables": {},
        "hops": {},
        "yeasts": {},
        "extras": {},
        "mash_steps": {}
    }
    input_data["gravity_units"] = "{{ user.profile.gravity_units }}"
    input_data["color_units"] = "{{ user.profile.color_units }}"
    input_data["general_units"] = "{{ user.profile.general_units }}"
    for (i = 0; i < arrayform.length; i++) {
      if (arrayform[i].name.includes("FORMS") || arrayform[i].name.includes("csrf")) {continue;}
      else if (arrayform[i].name.startsWith("fermentables-") || arrayform[i].name.startsWith("mash_steps-") || arrayform[i].name.startsWith("extras-") || arrayform[i].name.startsWith("yeasts-") || arrayform[i].name.startsWith("hops-")) {
        var [type, idx, name] = arrayform[i].name.split("-");
        var new_name = name.split("_")[0]
        !(idx in input_data[type]) && (input_data[type][idx] = {})
        if (name.endsWith("_0")) {
            input_data[type][idx][new_name] = arrayform[i].value
            unit_id = "#id_" + arrayform[i].name.substring(0, arrayform[i].name.length - 2) + "_1";
            var unit = $(unit_id).text()
            input_data[type][idx][new_name + "_unit"] = unit
        }
        else if (name.endsWith("_1")) {
            input_data[type][idx][new_name + "_unit"] = arrayform[i].value
        }
        else {
          var [type, idx, name] = arrayform[i].name.split("-");
          input_data[type][idx][name] = arrayform[i].value
        }
      }
      else if (arrayform[i].name.startsWith("expected_beer_volume_0")) {
        var new_name = arrayform[i].name.substring(0, arrayform[i].name.length - 2)
        input_data[new_name] = arrayform[i].value;
      }
      else {
        input_data[arrayform[i].name] = arrayform[i].value;
      }

    }
    $.ajax({
      type: "POST",
      headers: { "X-CSRFToken": "{{ csrf_token }}" }, 
      url: '/brew/recipe/info',
      data: {
        'form': JSON.stringify(input_data)
      },
      dataType: 'json',
      success: function (data) {
        $("#boil_volume_info").text(data.boil_volume);
        $("#primary_volume_info").text(data.primary_volume);
        $("#secondary_volume_info").text(data.secondary_volume);
        $("#preboil_gravity_info").text(data.preboil_gravity);
        $("#gravity_info").text(data.gravity);
        $("#abv_info").text(data.abv);
        $("#color_info").text(data.color);
        $("#ibu_info").text(data.ibu);
        var bitternessRatio = parseFloat(data.bitterness_ratio);
        $("#bitterness_ratio_info").text(data.bitterness_ratio);
        if (bitternessRatio > 0 && bitternessRatio < .25) {
            $("#bitterness_ratio_name_info").text("Sweet");
        } else if (bitternessRatio >= .25 && bitternessRatio < .5) {
            $("#bitterness_ratio_name_info").text("Balanced");
        } else if (bitternessRatio >= .5 && bitternessRatio < .75) {
            $("#bitterness_ratio_name_info").text("Bitter");
        } else if (bitternessRatio >= .75) {
            $("#bitterness_ratio_name_info").text("Very Bitter");
        }
      }
    });
  });

  $("#id_style").on("change", function () {
    var recipe_id = $("#id_style option:selected").val()
    if (recipe_id) {
      $.ajax({
        type: "GET",
        headers: { "X-CSRFToken": "{{ csrf_token }}" }, 
        url: '/brew/style/' + recipe_id + '/info',
        dataType: 'json',
        success: function (data) {
          $("#gravity_styleinfo").text(data.og_min + " - " + data.og_max);
          $("#color_styleinfo").text(data.color_min + " - " + data.color_max);
          $("#abv_styleinfo").text(data.alcohol_min + " - " + data.alcohol_max);
          $("#ibu_styleinfo").text(data.ibu_min + " - " + data.ibu_max);
        }
      });
    }
  });

  $("form").trigger("change");
  $("#id_style").trigger("change");
});
</script>
{% endblock content %}