{% extends "base.html" %}
{% load static %}
{% load brew_tags %}

{% block title %}Recipes{% endblock title %}

{% block content %}
<h3>Recipes</h3>
<hl>
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog mt-5 modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog mt-5 modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<div class="container">
    <div class="col-12 mb-3">
    {% if user.is_staff %}
    <button id="create-recipe" class="btn btn-success" type="button" name="button">
        <span class="fa fa-plus mr-2"></span>Create Recipe
    </button>
    {% endif %}
    <button id="create-recipe" class="btn btn-primary" type="button" name="button" data-toggle="collapse" data-target="#filter-row" aria-expanded="false" aria-controls="collapseExample">
        Toggle Filters
    </button>
    </div>
    <div id="filter-row" class="row collapse">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    {{filter.form.as_p}}
                    <button class="btn btn-primary" name="button" type="submit"><span class="fa fa-filter mr-2"></span>Filter</button>
                </form>
            </div>
        </div>
    </div>
<table id="recipes-table" class="table">
    <thead>
        <tr >
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Gravity [{{user.profile.gravity_units}}]</th>
            <th class="text-center" scope="col">ABV</th>
            <th class="text-center" scope="col">Size</th>
            <th class="text-center" scope="col">Style</th>
            <th class="text-center" scope="col">IBU</th>
            <th class="text-center" scope="col">Color [{{user.profile.color_units}}]</th>
            <th class="text-center" scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr style="border-left-color:{{recipe.get_hex_color}};border-left-style:solid;border-left-width:10px">
            <td class="text-center" scope="row">{{recipe.name}}</td>
            <td class="text-center">{{recipe.get_gravity|get_obj_attr:user.profile.gravity_units|floatformat}}</td>
            <td class="text-center">{{recipe.get_abv|floatformat}}</td>
            <td class="text-center">{{recipe.expected_beer_volume|get_obj_attr:recipe.get_volume_unit|floatformat}}</td>
            <td class="text-center"><a class="bs-modal read-style" href="#" data-form-url="{% url 'brew:style-detail' recipe.style.pk %}"">{{recipe.style.name}}</a></td>
            <td class="text-center">{{recipe.get_ibu|floatformat}}</td>
            <td class="text-center">{{recipe.get_color|get_obj_attr:user.profile.color_units|floatformat}}</td>
            <td class="text-center">
                <!-- Read recipe buttons -->
                <button type="button" class="bs-modal read-recipe btn btn-sm btn-primary" data-form-url="{% url 'brew:recipe-detail' recipe.pk %}">
                <span class="fa fa-eye"></span>
                </button>
                {% if user.is_staff %}
                <!-- Update recipe buttons -->
                <button type="button" class="update-recipe btn btn-sm btn-primary" data-form-url="{% url 'brew:recipe-update' recipe.pk %}">
                <span class="fa fa-edit"></span>
                </button>
                <!-- Delete recipe buttons -->
                <button type="button" class="bs-modal delete-recipe btn btn-sm btn-danger" data-form-url="{% url 'brew:recipe-delete' recipe.pk %}">
                <span class="fa fa-trash"></span>
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if is_paginated %}
    {% include "pagination.html" %}
{% endif %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock content %}
{% block inline_javascript %}
<script defer type="text/javascript">
$(document).ready(function() {

    $("#create-recipe").modalForm({
        formURL: "{% url 'brew:recipe-create' %}"
    });

    $(".update-recipe").each(function () {
        $(this).modalForm({
        formURL: $(this).data("form-url"),
        asyncUpdate: false,
        });
    });

    // Read and Delete book buttons open modal with id="modal"
    // The formURL is retrieved from the data of the element
    $(".bs-modal").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });

    // Hide message
    $(".alert").fadeTo(2000, 500).slideUp(500, function () {
        $(".alert").slideUp(500);
    });

});
</script>
{% endblock inline_javascript %}