{% load crispy_forms_tags %}
{% load static %}
<table class="table">
    <thead>
        <tr >
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Type</th>
            <th class="text-center" scope="col">Use</th>
            <th class="text-center" scope="col">Color</th>
            <th class="text-center" scope="col">Extraction</th>
            <th class="text-center" scope="col">Amount</th>
            <th class="text-center" scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for form in formset.forms %}
        <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
            <td class="text-center">{{ form.name|as_crispy_field }}</td>
            <td class="text-center">{{ form.type|as_crispy_field }}</td>
            <td class="text-center">{{ form.use|as_crispy_field }}</td>
            <td class="text-center">{{ form.color|as_crispy_field }}</td>
            <td class="text-center">{{ form.extraction|as_crispy_field }}</td>
            <td class="text-center">{{ form.amount|as_crispy_field }}</td>
            <td class="text-center delet-row">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<br>
</script>
<script src="{% static "js/dynamic.formsets.js" %}">
</script>
<script type="text/javascript">
$(function() {
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: 'add another',
        prefix: '{{ formset.prefix }}',
        deleteText: '<button type="button" class="bs-modal delete-fermentable btn btn-sm btn-danger"><span class="fa fa-trash"></span></button>'
    });
})
</script>