{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ batch.name }}{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" action="{% url 'batch:batch' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-primary" name="previous_stage" value="Previous">Previous</input>
        <input type="submit" class="btn btn-primary" name="next_stage" value="Next">Next</input>
      </div>
    </div>
  </form>
{% endblock %}